// .app-container {
//   background-color: rgb(243, 243, 243);
// }

// .block {
//   padding: 10px 0px;
// }

.dashboard {
  &-container {
    margin: 20px;
  }

  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}

.table-body {
  padding: 5px;
  margin: 0 20px;
}

.table-body .edit-sort-img {
  width: 14px;
  height: 14px;
  margin-left: 5px;
  cursor: pointer;
}

.app-search .search-box {
  margin-bottom: 10px;
}

.app-search .div-box {
  margin-right: 10px;
}

.app-search .input-item {
  display: inline-block;
  width: 250px;
}

.app-search .input-item .el-input__inner {
  border-right: 0;
}

.app-search .input-item .el-input__inner:hover {
  border: 1px solid #dcdfe6;
  border-right: 0;
  outline: 0;
}

.app-search .input-item .el-input__inner:focus {
  border: 1px solid #dcdfe6;
  border-right: 0;
  outline: 0;
}

.app-search .input-item .el-input-group__append {
  width: 10%;
  padding: 0;
  background-color: #fff;
  border-left: 0;
}

.app-search .input-item .el-input-group__append .el-button {
  padding: 0;
}

.app-search .input-item .el-input-group__append .el-button {
  margin: 0;
}

.app-search .clear-where {
  color: #419efb;
  cursor: pointer;
}

.app-batch {
  height: 50px;
  padding: 0 22px;
  margin-bottom: 10px;
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
}

.app-batch .batch-box {
  margin-left: 10px;
}

.app-batch .batch-remark {
  margin-top: 5px;
  font-size: 14px;
  color: #999999;
}

.app-batch .select-count {
  margin-left: 10px;
  font-size: 14px;
}

.app-batch .batch-title {
  font-size: 18px;
}

.app-batch .batch-box-left {
  width: 120px;
  padding: 0 20px;
  border-right: 1px solid #e2e2e2;
}

.app-batch .batch-box-left div {
  padding: 5px 0;
  margin: 5px 0;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.app-batch .batch-div-active {
  background-color: #e2e2e2;
}

.app-batch .el-dialog__body {
  padding: 15px 20px;
}

.app-batch .batch-box-right {
  padding: 5px 20px;
}

.app-batch .express-dialog .el-dialog {
  min-width: 250px;
}

.app-batch .add-express-rule {
  margin-left: 20px;
  color: #419efb;
  cursor: pointer;
}

.app-batch .confine-box .label {
  margin-right: 10px;
}

.app-batch .goods-price .el-input-group__prepend {
  width: 80px;
}
